services:
  #  live-data-service:
  #    image: "mb/live-data-service"
  #    restart: always
  #    ports:
  #      - "8080:8080"
  #    container_name: live-data-service

  postgres:
    container_name: postgredb
    image: postgres:16.6
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=localdb
    networks:
      - my-network

  mongodb:
    image: mongo:8.0.4
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
    networks:
      - my-network

  prometheus:
    image: "prom/prometheus"
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./src/main/resources/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command: --web.enable-lifecycle --config.file=/etc/prometheus/prometheus.yml
    container_name: prometheus
    networks:
      - my-network

  grafana:
    image: "grafana/grafana"
    restart: always
    ports:
      - "3000:3000"
    container_name: grafana
    networks:
      - my-network

  broker:
    image: confluentinc/confluent-local:7.4.1
    hostname: broker
    container_name: broker
    ports:
      - "8082:8082"
      - "9092:9092"
      - "9101:9101"
    environment:
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092'
    networks:
      - my-network

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    ports:
      - "9999:8080"
    environment:
      DYNAMIC_CONFIG_ENABLED: true
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:29092
    networks:
      - my-network

  activemq:
    image: apache/activemq-artemis:latest-alpine
    container_name: activemq
    ports:
      - "8161:8161"    # Web Console (http://localhost:8161)
      - "61616:61616"  # JMS
    environment:
      ARTEMIS_USER: admin
      ARTEMIS_PASSWORD: admin
      ANONYMOUS_LOGIN: false
    networks:
      - my-network

  zipkin:
    image: openzipkin/zipkin:3
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - my-network

  jaeger:
    image: jaegertracing/all-in-one:1.76.0
    container_name: jaeger
    ports:
      - "16686:16686"  # Jaeger UI
      - "4317:4317"    # OTLP gRPC
      - "4318:4318"    # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - my-network

  redis:
    image: redis:8.4.0
    container_name: redis
    restart: always
    ports:
      - "6378:6379" # Default port is 6379
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    networks:
      - my-network

  redis-insight:
    image: redis/redisinsight:2.70.1
    restart: always
    container_name: redis-insight
    ports:
      - "5540:5540"
    volumes:
      - redis-insight:/data
    networks:
      - my-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
    container_name: elasticsearch
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "discovery.type=single-node"
      - xpack.security.enabled=false
      - cluster.routing.allocation.disk.watermark.low=95%
      - cluster.routing.allocation.disk.watermark.high=97%
      - cluster.routing.allocation.disk.watermark.flood_stage=99%
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - my-network

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.2
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - my-network

  logstash:
    image: docker.elastic.co/logstash/logstash:9.2.2
    container_name: logstash
    volumes:
      - ./src/main/resources/logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./src/main/resources/logstash/pipeline:/usr/share/logstash/pipeline
    ports:
      - "5000:5000"
      - "9600:9600"
    environment:
      - "LS_JAVA_OPTS=-Xmx256m -Xms256m"
      - "ELASTICSEARCH_HOSTS=http://elasticsearch:9200"
    depends_on:
      - elasticsearch
    networks:
      - my-network

volumes:
  redis-data:
  redis-insight:
  elasticsearch_data:
    driver: local

networks:
  my-network:
    driver: bridge
