REDIS_HOST: ${REDIS_HOST_ENV:localhost}
REDIS_PORT: ${REDIS_PORT_ENV:6378}

server:
  port: 8080

spring:
  application:
    name: live-data-service

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    username: sa
    password: ${DB_PASSWORD:}
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:${DB_NAME:mb_test};DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL;TRACE_LEVEL_FILE=0;DATABASE_TO_UPPER=FALSE;CASE_INSENSITIVE_IDENTIFIERS=TRUE;INIT=CREATE SCHEMA IF NOT EXISTS mb_test\;SET SCHEMA mb_test

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      jedis:
        pool:
          max-active: 7
          max-idle: 7
          min-idle: 2
          max-wait: -1ms

  jpa:
    show-sql: ${SHOW_SQL_ENABLED:true}
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true
    baseline-version: 0
    baseline-on-migrate: true
    schemas: mb_test
    table: schema_version

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
      group-id: mb_group_id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
      properties:
        spring.json.trusted.packages: '*'
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer
      acks: all # Wait for all replicas to acknowledge. Default is 'all' for v3.0 and later
      properties:
        enable.idempotence: 'true' # Enable idempotence to avoid duplicate messages. Default is 'true' for v3.0 and later
        max.in.flight.requests.per.connection: 1 # To avoid reordering of messages.
    # Enable observation for Kafka producer and consumer
    listener:
      observation-enabled: true
    template:
      observation-enabled: true

  docker:
    compose:
      enabled: false

  threads:
    virtual:
      enabled: true

  cloud:
    gcp:
      credentials:
        location: ${PLAY_INTEGRITY_API_CREDENTIALS_JSON:classpath:play-integrity-credentials.json}

  # Don't have valid credentials and this is for local development, disable the GCP AutoConfiguration
  autoconfigure:
    exclude:
      - com.google.cloud.spring.autoconfigure.core.GcpContextAutoConfiguration
      - com.google.cloud.spring.autoconfigure.pubsub.GcpPubSubAutoConfiguration

  artemis:
    broker-url: tcp://${ACTIVEMQ_HOST:localhost}:${ACTIVEMQ_PORT:61616}
    user: ${ACTIVEMQ_USER:admin}
    password: ${ACTIVEMQ_PASSWORD:admin}
    mode: native

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info, metrics, loggers, prometheus
  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: ${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}

  # spring-boot-starter-opentelemetry and Jaeger can be used instead of spring-cloud-starter-zipkin and Zipkin for OpenTelemetry
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318/v1/traces}
  otlp:
    metrics:
      export:
        enabled: false

swagger:
  documentation:
    services:
      - name: live-data-service
        url: /v2/api-docs
        version: 2.0
      - name: live-data-service-2
        url: /v2/api-docs
        version: 2.0

redisson:
  enabled: true
  url: redis://${REDIS_HOST}:${REDIS_PORT}

services:
  token:
    store: redis

clients:
  # https://developer.android.com/google/play/integrity/overview
  play-integrity-api:
    credentials-file: ${PLAY_INTEGRITY_API_CREDENTIALS_JSON:play-integrity-credentials.json}
    application-name: project_id # project_id in play-integrity-credentials.json file

  json-placeholder:
    url: ${JSON_PLACEHOLDER_BASE_URL:https://jsonplaceholder.typicode.com}
    # client-id and client-secret are dummy values for this integration and were added to demonstrate the usage of BasicAuthenticationInterceptor
    client-id: ${JSON_PLACEHOLDER_CLIENT_ID:client-id}
    client-secret: ${JSON_PLACEHOLDER_CLIENT_SECRET:client-secret}

resilience4j:
  circuitbreaker:
    instances:
      live-data-service:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
  retry:
    instances:
      live-data-service:
        maxAttempts: 5
        waitDuration: 10s
  ratelimiter:
    instances:
      live-data-service:
        registerHealthIndicator: false
        limitForPeriod: 2
        limitRefreshPeriod: 10s
        timeoutDuration: 3s
